@model AspNetUI.DTOs.Categori.CategoriListDTO
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col text-center">
        <div class="card">
            <div class="card-body text-center">
                <p>
                    @Model.KategoriAdi isimli kategoriyi silmek istiyor musunuz?
                </p>
                <form asp-controller="Categori" asp-action="DeleteConfirm" method="post">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">Sil</button>
                    <a asp-controller="Categori" asp-action="Index" class="btn btn-primary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>